.main_products{
  
    width: 300px;
    height: 300px;
    border: 5px solid #0A2A6A;
    border-radius: 10px;
    margin-top: 20px;
    border-bottom:50px solid #0A2A6A;
}
.main_products img{
    width: 100%;
    height: 100%;
}
.main_products h3{
    color: #fff;
    margin-top: 20px;
}
.product_type{
    display: flex;
    align-items: center;
    justify-content: center;
}
.option_class{
    display: flex;
    align-items: center;
    justify-content: center;
}
.duplex_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  .duplex_table_div{
    overflow-x: auto;

  }
  th, td {
    text-align: left;
    padding: 8px;
    width: 150px;
    height: 30px;
    white-space:nowrap;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}